@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Gothic+A1&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Gothic A1';
	box-sizing: border-box;
	width: 1440px;
}

a {
	text-decoration: none;
}

/* Header */
header {
	background-color: #002B40;
	position: relative;
	width: 1440px;
	height: 686px;
}

.header-darkblue {
	background-color: #032736;
	width: 1440px;
	height: 151px;
	position: absolute;
	bottom: 0px;
	display: flex;
}

.green {
	position: absolute;
	width: 568px;
	height: 701px;
	left: 872px;
	top: 88px;
}
.header-blue {
	position: absolute;
	top: 200px;
	left: 136px;
}
.blue-text {
	color: white;
	font-size: 68px;
	font-weight: 400;
	line-height: 72px;
}

.blue-text-green {
	color: #72BF00;
	font-size: 69px;
}

.blue-text-down {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: white;
	padding-top: 55px;
	font-family: 'Amiri';
	padding-left: 48px;
}

.darkblue-left {
	position: relative;
	left: 136px;
	top: 48px;
}
.darkblue-left-text {
	padding-top: 7px;
	color: white;
	font-weight: 400;
	font-size: 17px;
	line-height: 26px;
}
.darkblue-right-text {
	font-weight: 400;
	font-size: 12px;
	line-height: 24px;
	position: relative;
	left: 309px;
	top: 68px;
}

.darkblue-r-t-a {
		color: white;
}
/* Section 1 */

.section1 {
	position: relative;
	top: 259px;
	display: flex;
	width: 1440px;
}

.man {
	position: relative;
	width: 662px;
	height: 462px;
	left: -10px;
}

.section1-text {
	position: relative;
	left: 90px;
	top: 94px;
	color: #002B40;
	width: 535px;
}

.section1-up {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #5E7177;
}

.section1-header {
	font-weight: 400;
	font-size: 35px;
	line-height: 40px;
	padding-top: 15px;
}

.sect1-h-down {
	font-size: 34px;
}

.section1-art {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	padding-top: 29px;
	font-family: 'Amiri';
}

.section1-down {
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	padding-top: 26px;
}


/* Section 2 */

.section2 {
	position: relative;
	top: 466px;
	padding-left: 126px;
	padding-right: 126px;
}
.sect2-btn {
	width: 156px;
	height: 35px;
	background: #EFF2F3;
	border: none;
	color: #5E7177;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sect2-text {
	font-weight: 400;
	font-size: 36px;
	color: #002B40;
	padding-top: 23px;
}

.sect2-green {
	color: #00755F;
}

.sect2-cards {
	padding-top: 87px;
	display: flex;
	justify-content: space-between;
}

.sect2-card {
	width: 321px;
	height: 186px;
	display: flex;
}

.sect2-card-img {
	width: 64px;
	height: 64px;
}

.sect2-card-text {
	width: 247px;
	padding-left: 10px;
	padding-top: 17px;
}

.card-h {
	font-weight: 400;
	font-size: 17px;
	line-height: 20px;
	color: #002B40;
}

.card-art {
	font-family: 'Amiri';
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #002B40;
	padding-top: 19px;
}

.learn-more-div {
	padding-top: 52px;
}

.learn-more {
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #002B40;
}

/* Section 3 */
.section3 {
	position: relative;
	top: 605px;
	background-color: #002B40;
	display: flex;
	height: 1303px;
}

.sect3-text {
	position: absolute;
	top: 193px;
	left: 136px;
	width: 450px;
}

.sect3-img {
	width: 523px;
	height: 535px;
	position: absolute;
	right: 102px;
	top: 134px;
}

.sect3-header {
	font-size: 59px;
	color: white;
	font-weight: 400;
}

.sect3-art {
	font-family: 'Amiri';
	font-weight: 400;
	font-size: 18px;
	padding-top: 38px;
	color: white;
}

.sect3-down {
	padding-top: 19px;
	color: white;
	font-weight: 400;
	font-size: 15px;
}